{{ grafts.sayHello() }}
{{ 3-2 }}
ANYTHING HERE????
<form ng-submit="id.getId(newId)">
	<input type="text" ng-model="findByState.id" ng-keyup="ids.complete(getId.id)">
	
	<!-- <div ng-repeat="names in getIds"> {{legislator.firstlast}}</div> -->
	<button>Submit!</button>
</form>

<div ng-repeat="firstlast in candidatesInfo">
	{{firstlast}}
</div>