<style type="text/css">

    rect:hover {
        fill: orange;
    }
    
    #tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
    }
    
    #tooltip.hidden {
        display: none;
    }
    
    #tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
    }

</style>


<div class="container-fluid">

	<div class="row">	
		<div class="col-md-4">
			<form ng-submit="grafts.findBy(id)">
				<input type="text" ng-model="id">
				<button> Submit </button>
			</form>

			<div ng-repeat="pol in pols">
					<button ng-click="grafts.findPers(pol['@attributes'].cid)">
					 {{pol["@attributes"].firstlast}}
					</button>
			</div>
		</div>

		<div class="col-md-4">
			<div ng-show="candidate in candidates">
				<h3> Name: {{candidate["@attributes"].cand_name}}</h3>
				<h3> State: {{candidate["@attributes"].state}}</h3>
				<dl>
					<dt>Party</dt> 
					<dd>{{candidate["@attributes"].party}}</dd>
						<dt>First Elected</dt>
						<dd> {{candidate["@attributes"].first_elected}}</dd>
						<dt>Total Contributions</dt>
						<dd> {{candidate["@attributes"].total}}</dd>
						<dt>Total Spent</dt>
						<dd> {{candidate["@attributes"].spent}}</dd>
						<dt>Cash on Hand</dt>
						<dd>{{candidate["@attributes"].cash_on_hand}}</dd>
						<dt>Total Debt</dt>
						<dd>{{candidate["@attributes"].debt}}</dd>
			</div>
		</div>


	<div class="col-md-4">			
		<button ng-click="grafts.findDon(candidate['@attributes'].cid)">List Top Donors</button>
			<div ng-repeat="(org_name, total) in donors">
				<ul>
					<li> {{org_name}} : {{total}} </li>
				</ul>
			</div>
			<div>
				<button ng-click="grafts.findInd(candidate['@attributes'].cid)">List Top Industries</button>
				<div ng-repeat="(industry_name, total) in industries">
					<ul>
						<li>{{industry_name}} : {{total}}</li>
					</ul>
				</div>
			</div>			
		</div>

		<div class="row">

			<div class="col-md-5">
				<div ng-show="grafts.graphChart(@scope.donors)">	
		    	<div id="tooltip" class="hidden">
		        <p><strong>Donors</strong></p>
		        <p><span id="value">100</span>$</p>
		       </div>
				</div>
			</div>

			<div class="col-md-5">
				<div ng-show="grafts.graphChart(@scope.industries)">
		     	<div id="tooltip" class="hidden">
	          <p><strong>Industries</strong></p>
	          <p><span id="value">100</span>$</p>
	      	</div>
	      </div>
			</div>

		</div>
	</div>
</div>




 



