{{grafts.sayHello()}}


<form ng-submit="grafts.findBy(id)">
	<input type="text" ng-model="id">
	<button> Submit </button>
</form>

<div ng-repeat="pol in pols">
	<form ng-submit="grafts.findPers(pol["@attributes"].cid)">
			<button ng-click="grafts.findPers(pol["@attributes"].cid)">
			 {{pol["@attributes"].firstlast}}
			 {{pol["@attributes"].cid}}
			</button>
	</form>
</div>
 



