{{grafts.sayHello()}}

{{grafts.findByState()}}
<button ng-click = "findByState()">Testing Find By State</button>

<form ng-submit="findByState(id)">
	<input type="text" ng-model="id">
	<button>Submit </button>
</form>

<div ng-repeat="firstlast in candidatesInfo">
	{{firstlast}}
</div>

<!-- <div id="search">
	<input ng-model="query" placeholder="find politician" ng-keyup="$event.keyCode == 13 && getId()">
	<div class=""  ng-repeat="name in names" ng-click="openRepo(repo.full_name)">
		<strong> {{repo.full_name}}</strong>
		<p>{{repo.description}}</p>
	</div>
</div> -->

