{{ grafts.sayHello() }}
{{grafts.findByState() }}


<div ng-repeat="firstlast in candidatesInfo" ng-model="listCand.description">
  <button>  
  {{candidatesInfo.firstlast}} {{candidatesInfo.cid}}
  </button>
</div>